<div *ngIf="items else noItems">
  <ul *ngFor="let item of items" class="collection">
    <li class="collection-item">
      <div>
        <strong>Título: </strong>{{item.title}}
      </div>
      <div>
        <strong>Fecha: </strong>{{item.date}}
      </div>
      <div>
        <strong>Comentarios: </strong>{{item.commentary}}
      </div>
      <div>
        <strong>Doctor asignado: </strong>{{item.doctorName}}
      </div>
      <a class="secondary-content" id="trashIcon">
        <i (click)="deleteItem($event, item)" class="fa fa-trash" aria-hidden="true"></i>
      </a>

      <div *ngIf="item.imageUrl">
        <br>       
      </div>

      <div *ngIf="item.diagnosed">
        <br>
        <i id="checkIcon" class="material-icons green">check_box</i>
        <div *ngIf="!item.viewDiagnosis">
          <br>
          <a class="btn grey" (click)="onViewDiagnosisClicked(item)">Ver diagnóstico</a>
        </div>
      </div>
      <div *ngIf="item.viewDiagnosis">
        <br>
        <div>
          <strong>Diagnóstico: </strong>{{diagnosisArray[item.prognosis]}}
        </div>
        <div *ngIf="item.prognosis=='0'">
          <strong>Intensidad: </strong>{{item.intensity}}
        </div>
        <br>
        <a class="btn grey" (click)="onViewDiagnosisClicked(item)">Esconder diagnóstico</a>
      </div>
    </li>
  </ul>
</div>

<ng-template #noItems>
  <hr>
  <h5>No hay casos agregados.</h5>
</ng-template>