<div class="card">
  <div class="card-content">
    <span class="card-title">Añadir un nuevo caso</span>
    <form (ngSubmit)="onSubmitMultipleItems()">
      <div class="row">
        <div class="input-field">
          <label>Título del caso</label>
          <br>
          <input type="text" placeholder="Escribe el título del caso..." [(ngModel)]="item.title" name="title">
        </div>
        <div class="input-field">
          <label>Fecha</label>
          <br>
          <input type="date" [(ngModel)]="item.date" name="date">
        </div>
        <label>Asignación de caso a médico: </label>
        <div style="border: 1px solid grey;">
          <select class="browser-default" [(ngModel)]="item.doctorId" name="doctorId">
            <option value="" disabled selected>Escoge el médico disponible entre las opciones</option>
            <option *ngFor="let doctor of registeredDoctors" value="{{doctor.uid}}">
              {{doctor.displayName}}
            </option>
          </select>
        </div>
        <br>
        <br>
        <div class="file-field input-field">
          <div class="btn grey">
            <span>Escoger</span>
            <input type="file" multiple (change)="fileSelected($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Sube uno o más archivos DICOM">
          </div>
        </div>
        <input type="submit" value="Subir" class="btn">
        <div id="checkboxesDiv" class="valign-wrapper" *ngIf="showCheckboxes">
          <br>
          <br>
          <input type="checkbox" class="check" [(ngModel)]="checkboxOIEM" name="OIEM" disabled>
          <label for="check"  style="margin-right: 40px;">Ojo Izq. Enf. Mácula</label>
          <input type="checkbox" class="check" [(ngModel)]="checkboxOIED" name="OIED" disabled>
          <label for="check"  style="margin-right: 40px;">Ojo Izq. Enf. Disco óptico</label>          
          <input type="checkbox" class="check" [(ngModel)]="checkboxODEM" name="ODEM" disabled>
          <label for="check"  style="margin-right: 40px;">Ojo Der. Enf. Mácula</label>
          <input type="checkbox" class="check" [(ngModel)]="checkboxODED" name="ODED" disabled>
          <label for="check">Ojo Der. Enf. Disco óptico</label>
          <i class="medium material-icons right" (click)="showCheckboxes = false;" style="cursor: pointer;">close</i>
        </div>        
        <div *ngIf="showLoadingBar">
            <br> Subiendo imágenes...
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>

<app-items></app-items>